h1,p{
    text-align: center;
}
.remove{
    margin-top: 350px;
    margin-left: 620px;
}
.receta{
    float: left;
    margin-left: 40px;
    
}

.recipies{
     border: 2px solid #848484;
    width: 500px;
    height: 300px;
    margin-left: 400px;
    padding: 20px;
    position: absolute;
    
}
.red{
    color:red;
}
.blue{
    color: blue;
}
.orange{
    color: orange;
}
.hidden{
     display: none;
}
